*{
	margin: 0;
	padding: 0;
	max-height: 999999px;
}
.head{
	width: 100%;
	position: relative;
	border-bottom: 0.01rem solid #dedede;
}
.head>img{
	display: block;
	width: 100%;
	height: 0.62rem;
}
.head>.return{
	position:absolute;
	top:0.21rem;
	left: 0.26rem;
	width: 0.16rem;
	height: 0.28rem;
}
.head>p{
	font-size: 0.24rem;
	color:#333333;
	position: absolute;
	left: 2.72rem;
	top:0.22rem;
}
.head>.head_img{
	width: 0.4rem;
	height: 0.4rem;
	position: absolute;
	top:0.12rem;
	right: 0.22rem;
}
.explain{
	margin-left: 0.21rem;
	margin-top:0.28rem;
	line-height: 0.34rem;
	margin-bottom:0.37rem;
}
.explain_z{
	font-size: 0.24rem;
	color: #0f91dd;
}
.explain_t{
	font-size: 0.14rem;
	color: #959595;
	line-height: 0.38rem;
}
.explain_type{
	overflow: hidden;
	font-size: 0.16rem;
	color: #959595;
}
.line{
	border-bottom: 0.02rem solid #ededed;
}
.share{
	font-size: 0.14rem;
	margin-top:0.1rem;
}
.share>span{
	display: inline-block;
	height: 0.32rem;
	margin-left: 0.7rem;
	padding-right: 0.72rem;
	border-right: 0.01rem solid #ededed;
	margin-bottom: 0.12rem;
}
.share>span:nth-of-type(3){
	border-right:0;
}
.share>span>i{
	display: inline-block;
	background: url(../img/xing.png) no-repeat 0 0;
	width: 0.25rem;
	height: 0.15rem;
}
.share>span>.war{
	background: url(../img/attention.png) no-repeat 0 0;
}
.share>span>.sae{
	background: url(../img/share.png) no-repeat 0 0;
}
.line_s{
	height: 0.14rem;
	background: #f5f5f5;
}
#project_h{
	position: relative;
	list-style: none;
	overflow: hidden;
	margin-top: 0.2rem;
	padding-bottom: 0.2rem;
	border-bottom: 0.05rem solid #f5f5f5;

}
#project_h>li{
	float: left;
	font-size: 0.16rem;
	color: #333333;
	margin-left: 1.1rem;
}
#project_h>.active{
	color: #47a1e1;
}
#scrollbar{
	position: absolute;
	top:0.4rem;
	width: 0.6rem;
	height: 0.01rem;
	background: #0f91dd;
}
.state{
	font-size: 0.14rem;
	margin:0.2rem 0.3rem 0.2rem 0rem;
}
.state>p{
	margin-left: 0.2rem;
	font-size: 0.14rem;
}
.state>img{
	display: block;
	width:5.81rem;
	height: 2.52rem;
	margin-bottom: 0.2rem;
	margin-left: 0.2rem;
}
.footer{
	width: 100%;
	background: #ebebeb;
    border-top:0.01rem solid transparent;
}
.footer>p{
	text-align: center;
	font-size: 0.18rem;
	color: #000;
	line-height: 0.31rem;
}
.footer>ul{
	list-style: none;
	overflow: hidden;
	margin-left: 1.78rem;
}
.footer>ul>.tiao{
	width: 0.01rem;
	height: 0.18rem;
	margin-left: 0.1rem;
	margin-right: 0.1rem;
	background: #CCC;
	margin-top:0.11rem;
}
.footer>ul>li{
	float: left;
	font-size: 0.18rem;
	color: #969696;
	line-height: 0.31rem;
}
.btn{
	/*width: 100%;*/
	overflow: hidden;
}
.btn>button{
	display:block;
	float: left;
	width: 2.9rem;
	height: 0.4rem;
	font-size: 0.16rem;
	color: #fff;
	font-weight: bold;
	border-radius: 0.05rem;
	margin:0.1rem 0.09rem 0.05rem 0.01rem;
}
.btn>.b1{
	background: #fc8026;
	margin-left:0.2rem;
}
.btn>.b2{
	background: #108cde;
}
